@using BlazorApp.EF.Models;
@using BlazorApp.EF.Services;
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<PageTitle>BlazorApp.EF</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       
        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(Username))
            {
                <span>Welcome, @Username!</span>

            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? Username { get; set; } = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUsername();
        }
    }

    private async Task LoadUsername()
    {
        Username = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "User");
        StateHasChanged();
    }
}