@page "/"

<h1>WhatToRead</h1>

<AuthorizeView>
    <Authorized>
        Welcome, @context.User.Identity.Name!
    </Authorized>
    <NotAuthorized>
        You are not authorized. Got to <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
